<form >
    <div class="form-group">
        <label for="team_score">Score</label>
        <input type="number" class="form-control" id="team_score" placeholder="Score" ng-model='vm.score' ng-readonly='vm.scoreEditable'/>
        <span class='input-group-btn'>
            <button class='btn scoring-btn' type='button' 
                    ng-repeat='button in vm.sport.scoring' 
                    ng-click="vm.updateScore(button.amount)"
                    ng-disabled='vm.scoreEditable'>{{button.display}}</button>
        </span>
    </div>
</form>