  <div id="firebaseui-auth-container" ng-hide="vm.showLogin === true"></div>
  <uib-tabset active="activeJustified" justified="true" ng-show="vm.showLogin === false">
    <uib-tab index="0" heading={{vm.tabs[0].heading}}>
      
      <button class="btn btn-primary" type='button' ng-click="vm.showCreateMatchupModal()" >Create New Matchup</button>
      
      <div id='update-active-matchups' ng-show='vm.matchupsLoaded === true'>
        <matchup ng-repeat='matchup in vm.matchups' matchup='matchup'
                                                    unstarted='false'
                                                    editable='true'></matchup>
      </div>
    </uib-tab>
    <uib-tab index="1" heading={{vm.tabs[1].heading}}>
      <scoreboard></scoreboard>
    </uib-tab>
  </uib-tabset>
