<div id='team_form_container'>
    <form>
        <div class="form-group">
            <label for="team_name">{{vm.homeOrAway === 'home' ? 'Home' : 'Away' }} Team: </label>
            <div class='input-group'>
                <input type="text" class="form-control" id="team_name" placeholder="Team Name" 
                   ng-model="vm.name" ng-model-options='{debounce: 200}'
                   ng-change="vm.update('name', vm.name)"
                   ng-readonly="vm.editable === false"
                   value="vm.name"
                   uib-typeahead="team.name for team in vm.teams | limitTo:8" class="form-control"
                   typeahead-on-select="vm.selectTeam($item, $model, $label, $event)">
                <input type="hidden"  class="form-control" id="team_color" 
                       ng-model="vm.color"
                       ng-change="vm.update('color', vm.color)" 
                       ng-disabled="!vm.name || vm.editable === false">
                <span ng-show="vm.editable === true" colorpicker ng-model='vm.color' class='input-group-addon team-color-addon' ng-style="{'background-color': vm.color}" ng-disabled="!vm.name || vm.editable === false"></span>
                <span ng-show="vm.editable === false" ng-model='vm.color' class='input-group-addon team-color-addon' ng-style="{'background-color': vm.color}" ng-disabled="!vm.name || vm.editable === false"></span>
            </div>
            <small class="help-block" ng-show='vm.editable'>Select a team color by clicking on the box next to the name</small>
        </div>
    </form>
</div>