<div class='matchup-container row' ng-show='vm.inModal == true ||
                                            vm.filter === "ALL" || 
                                            vm.matchup.final === true && vm.filter === "FINAL" || 
                                            !vm.final && vm.filter === "ACTIVE"'>
    <div class='matchup-team-container'>
        <team name='vm.matchup.homeTeam.name' 
              color='vm.matchup.homeTeam.color'
              home-or-away='vm.HOME'
              update-team="vm.updateTeam"
              editable="vm.teamsEditable"
              class="col-xs-4"></team>
        <form class="inc-score col-xs-4" ng-hide="vm.inModal === true">
            <div class="form-group">
                <label for="team_score">Score</label>
                <div class='input-group'>
                    <input type="number" class="form-control score-text" id="team_score" placeholder="Score" 
                           ng-model='vm.matchup.home_score' ng-readonly="vm.editable === false">
                    <span class='input-group-btn' ng-show='vm.editable === true'>
                        <button type='button' class="btn btn-secondary" ng-click="vm.incrementScore(vm.HOME, 1)" ng-disabled="vm.matchup.timer_running === false">Increment</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class='matchup-team-container'>
        <team name='vm.matchup.awayTeam.name' 
              color='vm.matchup.awayTeam.color' 
              home-or-away='vm.AWAY'
              update-team="vm.updateTeam"
              editable='vm.teamsEditable'
              class="col-xs-4"></team>
        <form class="inc-score col-xs-4" ng-hide="vm.inModal === true">
            <div class="form-group">
                <label for="team_score">Score</label>
                <div class='input-group'>
                    <input type="number" class="form-control score-text" id="team_score" placeholder="Score" 
                            ng-model='vm.matchup.away_score'
                            ng-readonly="vm.editable === false">
                    <span class='input-group-btn' ng-show='vm.editable === true'>
                        <button type='button' class="btn btn-secondary" ng-click="vm.incrementScore(vm.AWAY, 1)" 
                                                                        ng-disabled="vm.matchup.timer_running === false">Increment</button>
                    </span>
                </div>
                <p class="help-block" ng-show="vm.matchup.timer_running === false">Match is currently paused</p>
            </div>
        </form>
    </div>
   <div id="timer-container" ng-hide="vm.inModal === true || vm.matchup.final === true">
        <timer countdown-start='vm.matchup.match_time' 
               timer-running='vm.matchup.timer_running'
               timer-obj-id='vm.matchup.$id'
                ng-hide="vm.matchup.final"></timer>
        <span id='final-span' ng-show="vm.matchup.final">Final</span>
    </div>
    <button id='timer-btn' class='btn btn-primary' ng-click='vm.setTimerRunning(!vm.matchup.timer_running)' ng-if='vm.editable && !vm.matchup.final'>{{vm.matchup.timer_running === true ? 'Pause ' : 'Start '}}Match</button>
</div>